* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 120%;
  background-color: pink;
}

.homeButton {
  width:5%;
  margin:0 auto;
  background-color:white;
  padding: 20px 20px;
  text-align:center;
  border: 2px solid black;
  border-radius: 30px;
}

a:link
{
 text-decoration:none;
 font-weight:bold;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: black;
  background-color: aqua;
  text-align: center;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 0px 0px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid white;
  background-color: aqua;
  border-radius: 0px 0px 0px 0px;
  font-style: italic;
  color: black;
}
.input-group {
  margin: 9px 0px 9px 0px;
  text-align:center;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 1px;
  size: 2px;
  font-weight:bold;
}
.input-group input {
  height: 30px;
  width: 85%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 5px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #B1C5C3;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.OpenEye
{
  width: 20px;
  height: 20px;
}
